<a href="https://colab.research.google.com/github/zephyrstorm123/MO-IT134-MachineLearning/blob/02042025-Updated_Preprocessing_files/Milestone_1_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#MACHINE LEARNING AND PREDICTIVE ANALYTICS

In [77]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

###Setting Imports

In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

##Exploratory Procedures of Data

In [79]:
transactions_df = pd.read_csv('/content/drive/MyDrive/MO-IT134-Machine Learning-S3101-Quitay, Dejucos, Mallorca/transactions_data.csv')
products_df = pd.read_csv('/content/drive/MyDrive/MO-IT134-Machine Learning-S3101-Quitay, Dejucos, Mallorca/products_data.csv')
customer_df = pd.read_csv('/content/drive/MyDrive/MO-IT134-Machine Learning-S3101-Quitay, Dejucos, Mallorca/customers_data.csv')

##Transactions Dataset

In [80]:
transactions_df

,Unnamed: 0,Transaction_ID,Company_ID,Product_ID,Quantity,Transaction_Date,Product_Price,Total_Cost
0,0.0,1.0,88.0,6.0,NaN,2024/03/26,194379.147964,1075200.0
1,1.0,2.0,29.0,19.0,16.0,"July 09, 2024",97930.993380,1428000.0
2,2.0,NaN,28.0,18.0,6.0,04/13/2024,126095.547778,940800.0
3,3.0,4.0,85.0,12.0,12.0,09-06-2023,NaN,1008000.0
4,4.0,5.0,47.0,3.0,8.0,07/06/2021,99575.609634,705600.0
...,...,...,...,...,...,...,...,...
9995,9995.0,NaN,NaN,10.0,NaN,"June 05, 2022",NaN,627200.0
9996,9996.0,9997.0,39.0,2.0,9.0,2021/05/17,159518.597391,1512000.0
9997,9997.0,NaN,90.0,1.0,15.0,"July 19, 2022",128137.094759,1960000.0
9998,9998.0,9999.0,33.0,NaN,19.0,2021/04/15,81786.119894,1680000.0
9999,9999.0,NaN,77.0,16.0,14.0,29-10-2023,115708.404715,1489600.0

In [81]:
transactions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        9000 non-null   float64
 1   Transaction_ID    9000 non-null   float64
 2   Company_ID        9000 non-null   float64
 3   Product_ID        9000 non-null   float64
 4   Quantity          9000 non-null   float64
 5   Transaction_Date  10000 non-null  object
 6   Product_Price     9000 non-null   float64
 7   Total_Cost        9000 non-null   float64
dtypes: float64(7), object(1)
memory usage: 625.1+ KB

###Checking/Filling Up Missing Data

In [82]:
#Filling Up Missing Transaction ID
#Transaction ID seems to be just the index of the data +1. So we fill up the missing data using that information

transactions_df['Transaction_ID'] = transactions_df.index + 1

In [83]:
transactions_df

,Unnamed: 0,Transaction_ID,Company_ID,Product_ID,Quantity,Transaction_Date,Product_Price,Total_Cost
0,0.0,1,88.0,6.0,NaN,2024/03/26,194379.147964,1075200.0
1,1.0,2,29.0,19.0,16.0,"July 09, 2024",97930.993380,1428000.0
2,2.0,3,28.0,18.0,6.0,04/13/2024,126095.547778,940800.0
3,3.0,4,85.0,12.0,12.0,09-06-2023,NaN,1008000.0
4,4.0,5,47.0,3.0,8.0,07/06/2021,99575.609634,705600.0
...,...,...,...,...,...,...,...,...
9995,9995.0,9996,NaN,10.0,NaN,"June 05, 2022",NaN,627200.0
9996,9996.0,9997,39.0,2.0,9.0,2021/05/17,159518.597391,1512000.0
9997,9997.0,9998,90.0,1.0,15.0,"July 19, 2022",128137.094759,1960000.0
9998,9998.0,9999,33.0,NaN,19.0,2021/04/15,81786.119894,1680000.0
9999,9999.0,10000,77.0,16.0,14.0,29-10-2023,115708.404715,1489600.0

In [84]:
#Filling Up Missing Values of Quantity, Product_Price and Total_Cost

def fill_missing_values(row):
    # Check if Total_Cost is missing but not Quantity and Product_Price
    if pd.isnull(row['Total_Cost']) and not pd.isnull(row['Quantity']) and not pd.isnull(row['Product_Price']):
        row['Total_Cost'] = row['Quantity'] * row['Product_Price']
    # Check if Product_Price is missing but not Quantity and Total_Cost
    elif pd.isnull(row['Product_Price']) and not pd.isnull(row['Quantity']) and not pd.isnull(row['Total_Cost']):
        # Check if Quantity is 0 to avoid ZeroDivisionError
        if row['Quantity'] != 0:
            row['Product_Price'] = row['Total_Cost'] / row['Quantity']
        else:
            # Handle cases where Quantity is 0 (e.g., set Product_Price to 0 or NaN)
            row['Product_Price'] = np.nan
    # Check if Quantity is missing but not Product_Price and Total_Cost
    elif pd.isnull(row['Quantity']) and not pd.isnull(row['Product_Price']) and not pd.isnull(row['Total_Cost']):
        if row['Product_Price'] != 0:
            row['Quantity'] = round(row['Total_Cost'] / row['Product_Price'])
        else:
            row['Quantity'] = np.nan
    return row

In [85]:
transactions_df = transactions_df.apply(fill_missing_values, axis=1)

In [86]:
transactions_df

,Unnamed: 0,Transaction_ID,Company_ID,Product_ID,Quantity,Transaction_Date,Product_Price,Total_Cost
0,0.0,1,88.0,6.0,6.0,2024/03/26,194379.147964,1075200.0
1,1.0,2,29.0,19.0,16.0,"July 09, 2024",97930.993380,1428000.0
2,2.0,3,28.0,18.0,6.0,04/13/2024,126095.547778,940800.0
3,3.0,4,85.0,12.0,12.0,09-06-2023,84000.000000,1008000.0
4,4.0,5,47.0,3.0,8.0,07/06/2021,99575.609634,705600.0
...,...,...,...,...,...,...,...,...
9995,9995.0,9996,NaN,10.0,NaN,"June 05, 2022",NaN,627200.0
9996,9996.0,9997,39.0,2.0,9.0,2021/05/17,159518.597391,1512000.0
9997,9997.0,9998,90.0,1.0,15.0,"July 19, 2022",128137.094759,1960000.0
9998,9998.0,9999,33.0,NaN,19.0,2021/04/15,81786.119894,1680000.0
9999,9999.0,10000,77.0,16.0,14.0,29-10-2023,115708.404715,1489600.0

###Formatting of Dates

In [168]:
#Standarize Format of Date
# Check if date format is in the list. then convert it to a readable datetime format, return NaT if not in the list
def convert_date(date):
  formats = [
      '%d%m%Y',      # Format: DDMMYYYY
      '%Y-%m-%d',    # Format: YYYY-MM-DD
      '%m/%d/%Y',    # Format: MM/DD/YYYY
      '%d-%m-%Y',     # Format: DD-MM-YYYY
      '%d/%m/%Y',      # Format: DD/MM/YYYY
      '%Y/%m/%d',     #Format: YYYY/MM/DD
      'Month %d, Year %Y',  # Format: Month DD, YYYY
      '%B %d, %Y',    #Format, Month DD, YYYY
  ]

  for fmt in formats:
    try:
      return pd.to_datetime(date, format=fmt)
    except ValueError:
      continue

  return pd.NaT  # Return NaT if no valid format is found

In [169]:
transactions_df['Transaction_Date'] = transactions_df['Transaction_Date'].apply(convert_date)

In [170]:
transactions_df

,Transaction_ID,Company_ID,Product_ID,Quantity,Transaction_Date,Product_Price,Total_Cost
0,1,88.0,6.0,6.0,2024-03-26,194379.15,1075200.0
1,2,29.0,19.0,16.0,2024-07-09,97930.99,1428000.0
2,3,28.0,18.0,6.0,2024-04-13,126095.55,940800.0
3,4,85.0,12.0,12.0,2023-06-09,84000.00,1008000.0
4,5,47.0,3.0,8.0,2021-07-06,99575.61,705600.0
...,...,...,...,...,...,...,...
9995,9996,NaN,10.0,NaN,2022-06-05,NaN,627200.0
9996,9997,39.0,2.0,9.0,2021-05-17,159518.60,1512000.0
9997,9998,90.0,1.0,15.0,2022-07-19,128137.09,1960000.0
9998,9999,33.0,NaN,19.0,2021-04-15,81786.12,1680000.0
9999,10000,77.0,16.0,14.0,2023-10-29,115708.40,1489600.0

In [171]:
transactions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction_ID    10000 non-null  int64
 1   Company_ID        9000 non-null   float64
 2   Product_ID        9000 non-null   float64
 3   Quantity          9793 non-null   float64
 4   Transaction_Date  10000 non-null  datetime64[ns]
 5   Product_Price     9801 non-null   float64
 6   Total_Cost        9823 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 547.0 KB

In [173]:
#Drop the Redundant Column

transactions_df.drop(columns=['Unnamed: 0'], inplace=True)

KeyError: "['Unnamed: 0'] not found in axis"

In [174]:

transactions_df

,Transaction_ID,Company_ID,Product_ID,Quantity,Transaction_Date,Product_Price,Total_Cost
0,1,88.0,6.0,6.0,2024-03-26,194379.15,1075200.0
1,2,29.0,19.0,16.0,2024-07-09,97930.99,1428000.0
2,3,28.0,18.0,6.0,2024-04-13,126095.55,940800.0
3,4,85.0,12.0,12.0,2023-06-09,84000.00,1008000.0
4,5,47.0,3.0,8.0,2021-07-06,99575.61,705600.0
...,...,...,...,...,...,...,...
9995,9996,NaN,10.0,NaN,2022-06-05,NaN,627200.0
9996,9997,39.0,2.0,9.0,2021-05-17,159518.60,1512000.0
9997,9998,90.0,1.0,15.0,2022-07-19,128137.09,1960000.0
9998,9999,33.0,NaN,19.0,2021-04-15,81786.12,1680000.0
9999,10000,77.0,16.0,14.0,2023-10-29,115708.40,1489600.0

In [ ]:
#Rounding Off the Product Price to 2

transactions_df['Product_Price'] = round(transactions_df['Product_Price'], 2)

In [175]:
# Display rows with data with 2 or more data missing in the Product_Price, Quantity and Total_cost column

missing_counts = transactions_df[['Product_Price', 'Quantity', 'Total_Cost']].isnull().sum(axis=1)
transactions_df[missing_counts >= 2]

,Transaction_ID,Company_ID,Product_ID,Quantity,Transaction_Date,Product_Price,Total_Cost
25,26,93.0,9.0,NaN,2021-09-21,NaN,1792000.0
58,59,54.0,1.0,NaN,2021-07-19,140359.08,NaN
78,79,66.0,4.0,NaN,2023-09-14,112998.06,NaN
125,126,29.0,NaN,NaN,2023-09-22,NaN,1433600.0
270,271,NaN,1.0,NaN,2024-08-31,NaN,1540000.0
...,...,...,...,...,...,...,...
9906,9907,47.0,NaN,6.0,2024-02-28,NaN,NaN
9981,9982,NaN,5.0,NaN,2022-03-29,NaN,672000.0
9982,9983,80.0,15.0,8.0,2023-12-25,NaN,NaN
9990,9991,14.0,19.0,NaN,2021-02-19,NaN,190400.0
9995,9996,NaN,10.0,NaN,2022-06-05,NaN,627200.0

In [ ]:
for col in ['Company_ID', 'Product_ID', 'Quantity']:
  if transactions_df[col].dtype == 'float64':
    transactions_df[col] = transactions_df[col].astype(int)

In [176]:
transactions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction_ID    10000 non-null  int64
 1   Company_ID        9000 non-null   float64
 2   Product_ID        9000 non-null   float64
 3   Quantity          9793 non-null   float64
 4   Transaction_Date  10000 non-null  datetime64[ns]
 5   Product_Price     9801 non-null   float64
 6   Total_Cost        9823 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 547.0 KB

In [177]:
transactions_df.to_csv('/content/drive/MyDrive/MO-IT134-Machine Learning-S3101-Quitay, Dejucos, Mallorca/transactions_data_cleaned.csv')

##Customers Data

In [105]:
customer_df

,Company_ID,Company_Name,Company_Profit,Address
0,1,Tech Enterprises 1,80701.0,"EDSA, Barangay 606, Pasig, Philippines"
1,2,Global Partners 2,80511.0,"Commonwealth Ave, Barangay 789, Taguig, Philip..."
2,3,Quantum Associates 3,110664.0,"Roxas Blvd, Barangay 505, Pasig, Philippines"
3,4,Prime Network 4,NaN,"Alabang-Zapote Rd, Barangay 202, Taguig, Phili..."
4,5,Elite Ventures 5,69427.0,"Ayala Avenue, Barangay 101, Makati, Philippines"
...,...,...,...,...
95,96,Dynamic Network 96,101428.0,"Alabang-Zapote Rd, Brgy. 456, Cebu City, Phili..."
96,97,Quantum Holdings 97,33449.0,"EDSA, Barangay 789, Manila, Philippines"
97,98,Pioneer Ventures 98,71095.0,"Roxas Blvd, Barangay 123, Taguig, Philippines"
98,99,Elite Corp 99,107929.0,"Alabang-Zapote Rd, Barangay 303, Makati, Phili..."
99,100,Global Solutions 100,NaN,"Ayala avenue, barangay 456, taguig, philippines"

In [108]:
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company_ID      100 non-null    int64
 1   Company_Name    100 non-null    object
 2   Company_Profit  100 non-null    float64
 3   Address         100 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 3.3+ KB

###FIlling Missing Data

In [104]:
customer_df['Company_ID'] = customer_df.index + 1

In [107]:
#Converting "Company Profit" to numeric
customer_df["Company_Profit"] = pd.to_numeric(customer_df["Company_Profit"], errors="coerce")
#Filling Up Missing Data for Company Profit
customer_df["Company_Profit"].fillna(customer_df["Company_Profit"].mean(), inplace=True)
customer_df["Company_Profit"] = customer_df["Company_Profit"].round(2)

<ipython-input-107-b0ec58f33522>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  customer_df["Company_Profit"].fillna(customer_df["Company_Profit"].mean(), inplace=True)

###Parsing of Address

In [139]:
customer_df_parsed = customer_df.copy()

In [140]:
#Isolating the Baranggay and City from the Address

import re

def parse_address(row):
      #Captures the number in barangay only
      barangay_pattern = r"(?:Barangay|Brgy\.)\s+(\d+)"
      #Captures the City
      city_pattern = r'[A-Za-z\s]+(?=, Philippines)'

      barangay_match = re.search(barangay_pattern, row['Address'], re.IGNORECASE)
      city_match = re.search(city_pattern, row['Address'], re.IGNORECASE)

      row['Barangay'] = barangay_match.group(1) if barangay_match else None
      row['City'] = city_match.group(0).capitalize() if city_match else None

      return row

In [141]:
customer_df_parsed = customer_df_parsed.apply(parse_address, axis=1)

In [142]:
customer_df_parsed

,Company_ID,Company_Name,Company_Profit,Address,Barangay,City
0,1,Tech Enterprises 1,80701.0,"EDSA, Barangay 606, Pasig, Philippines",606,pasig
1,2,Global Partners 2,80511.0,"Commonwealth Ave, Barangay 789, Taguig, Philip...",789,taguig
2,3,Quantum Associates 3,110664.0,"Roxas Blvd, Barangay 505, Pasig, Philippines",505,pasig
3,4,Prime Network 4,76400.5,"Alabang-Zapote Rd, Barangay 202, Taguig, Phili...",202,taguig
4,5,Elite Ventures 5,69427.0,"Ayala Avenue, Barangay 101, Makati, Philippines",101,makati
...,...,...,...,...,...,...
95,96,Dynamic Network 96,101428.0,"Alabang-Zapote Rd, Brgy. 456, Cebu City, Phili...",456,cebu city
96,97,Quantum Holdings 97,33449.0,"EDSA, Barangay 789, Manila, Philippines",789,manila
97,98,Pioneer Ventures 98,71095.0,"Roxas Blvd, Barangay 123, Taguig, Philippines",123,taguig
98,99,Elite Corp 99,107929.0,"Alabang-Zapote Rd, Barangay 303, Makati, Phili...",303,makati
99,100,Global Solutions 100,76400.5,"Ayala avenue, barangay 456, taguig, philippines",456,taguig

In [144]:
customer_df_parsed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company_ID      100 non-null    int64
 1   Company_Name    100 non-null    object
 2   Company_Profit  100 non-null    float64
 3   Address         100 non-null    object
 4   Barangay        100 non-null    object
 5   City            100 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.8+ KB

In [158]:
customer_df_parsed.to_csv('/content/drive/MyDrive/MO-IT134-Machine Learning-S3101-Quitay, Dejucos, Mallorca/customers_data_cleaned.csv')

##Products Data

In [145]:
products_df

    Product_ID                  Product_Name Product_Price
0          1.0            FinPredictor Suite      ?140,000
1          2.0        MarketMinder Analytics      ?168,000
2          3.0          TrendWise Forecaster      ?100,800
3          4.0        CustomerScope Insights      ?123,200
4          5.0           SalesSync Optimizer       ?84,000
5          6.0          RevenueVue Dashboard      ?179,200
6          7.0   DataBridge Integration Tool      ?151,200
7          NaN             RiskRadar Monitor      ?151,200
8          9.0                     Product 9      ?112,000
9         10.0            SegmentX Targeting       ?89,600
10        11.0           OptiFlow Automation      ?156,800
11        12.0              BudgetMaster Pro       ?84,000
12        13.0           ForecastXcelerator       ?196,000
13        14.0  InsightMax Insights Platform      ?128,800
14        15.0            NexGen Segmentator      ?100,800
15         NaN               SpendTrack Plus      ?106,400
16        17.0              RealTime Revenue      ?168,000
17        18.0        DashSync Analytics Hub      ?134,400
18        19.0              EcoNomix Modeler       ?95,200
19        20.0  FinSphere Intelligence Suite      ?224,000

In [147]:
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product_ID     20 non-null     int64
 1   Product_Name   20 non-null     object
 2   Product_Price  20 non-null     object
dtypes: int64(1), object(2)
memory usage: 612.0+ bytes

###Fill Missing Data

In [146]:
products_df["Product_ID"] = products_df.index + 1

###Parse Price to become Numerical

In [152]:
parsed_price = products_df.copy()

In [153]:
import re

def parse_price(row):
    # Regex to match price pattern, allowing for '?' and commas
    price_pattern = r"\?\s*([\d,]+)"

    # Match the price using the pattern
    price_match = re.search(price_pattern, row['Product_Price'])

    if price_match:
        # Extract the price string, clean commas, and convert to an integer
        price = price_match.group(1).replace(',', '')  # Remove commas
        row['Product_Price'] = int(price)  # Convert to a numeric value
    else:
        # If no valid price is found, set to None
        row['Product_Price'] = None

    return row

In [154]:
parsed_price = products_df.apply(parse_price, axis=1)

In [155]:
parsed_price

    Product_ID                  Product_Name  Product_Price
0            1            FinPredictor Suite         140000
1            2        MarketMinder Analytics         168000
2            3          TrendWise Forecaster         100800
3            4        CustomerScope Insights         123200
4            5           SalesSync Optimizer          84000
5            6          RevenueVue Dashboard         179200
6            7   DataBridge Integration Tool         151200
7            8             RiskRadar Monitor         151200
8            9                     Product 9         112000
9           10            SegmentX Targeting          89600
10          11           OptiFlow Automation         156800
11          12              BudgetMaster Pro          84000
12          13           ForecastXcelerator          196000
13          14  InsightMax Insights Platform         128800
14          15            NexGen Segmentator         100800
15          16               SpendTrack Plus         106400
16          17              RealTime Revenue         168000
17          18        DashSync Analytics Hub         134400
18          19              EcoNomix Modeler          95200
19          20  FinSphere Intelligence Suite         224000

In [156]:
parsed_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product_ID     20 non-null     int64
 1   Product_Name   20 non-null     object
 2   Product_Price  20 non-null     int64
dtypes: int64(2), object(1)
memory usage: 612.0+ bytes

In [157]:
parsed_price.to_csv('/content/drive/MyDrive/MO-IT134-Machine Learning-S3101-Quitay, Dejucos, Mallorca/products_data_cleaned.csv')

##Merging of Datasets

In [198]:
#Merge the transactions_df with customer_df
merged_data = pd.merge(transactions_df, customer_df_parsed, on='Company_ID',how='left')

In [199]:
merged_data

,Transaction_ID,Company_ID,Product_ID,Quantity,Transaction_Date,Product_Price,Total_Cost,Company_Name,Company_Profit,Address,Barangay,City
0,1,88.0,6.0,6.0,2024-03-26,194379.15,1075200.0,Elite Consulting 88,75950.0,"EDSA, Barangay 456, Taguig, Philippines",456,taguig
1,2,29.0,19.0,16.0,2024-07-09,97930.99,1428000.0,Sky Industries 29,61952.0,"Edsa, brgy. 606, makati, philippines!",606,makati
2,3,28.0,18.0,6.0,2024-04-13,126095.55,940800.0,Global Holdings 28,61115.0,"Katipunan Ave, Brgy. 303, Taguig, Philippines",303,taguig
3,4,85.0,12.0,12.0,2023-06-09,84000.00,1008000.0,Green Ventures 85,113470.0,"EDSA, Barangay 707, Cebu City, Philippines",707,cebu city
4,5,47.0,3.0,8.0,2021-07-06,99575.61,705600.0,Green Industries 47,31130.0,"Taft Ave, Barangay 707, Mandaluyong, Philippines",707,mandaluyong
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,NaN,10.0,NaN,2022-06-05,NaN,627200.0,NaN,NaN,NaN,NaN,NaN
9996,9997,39.0,2.0,9.0,2021-05-17,159518.60,1512000.0,Prime Consulting 39,107255.0,"Ortigas Ave, Barangay 606, Davao City, Philipp...",606,davao city
9997,9998,90.0,1.0,15.0,2022-07-19,128137.09,1960000.0,Prime Holdings 90,46225.0,"EDSA, Barangay 202, Parañaque, Philippines",202,Aque
9998,9999,33.0,NaN,19.0,2021-04-15,81786.12,1680000.0,Green Consulting 33,52003.0,"Shaw blvd, barangay 707, mandaluyong, philippi...",707,mandaluyong
9999,10000,77.0,16.0,14.0,2023-10-29,115708.40,1489600.0,Prime Consulting 77,110398.0,"Alabang-Zapote Rd, Barangay 456, Manila, Phili...",456,manila

In [200]:
#Merge data to product_df

merged_data = pd.merge(merged_data, parsed_price, on='Product_ID', how='left')

In [201]:
merged_data

,Transaction_ID,Company_ID,Product_ID,Quantity,Transaction_Date,Product_Price_x,Total_Cost,Company_Name,Company_Profit,Address,Barangay,City,Product_Name,Product_Price_y
0,1,88.0,6.0,6.0,2024-03-26,194379.15,1075200.0,Elite Consulting 88,75950.0,"EDSA, Barangay 456, Taguig, Philippines",456,taguig,RevenueVue Dashboard,179200.0
1,2,29.0,19.0,16.0,2024-07-09,97930.99,1428000.0,Sky Industries 29,61952.0,"Edsa, brgy. 606, makati, philippines!",606,makati,EcoNomix Modeler,95200.0
2,3,28.0,18.0,6.0,2024-04-13,126095.55,940800.0,Global Holdings 28,61115.0,"Katipunan Ave, Brgy. 303, Taguig, Philippines",303,taguig,DashSync Analytics Hub,134400.0
3,4,85.0,12.0,12.0,2023-06-09,84000.00,1008000.0,Green Ventures 85,113470.0,"EDSA, Barangay 707, Cebu City, Philippines",707,cebu city,BudgetMaster Pro,84000.0
4,5,47.0,3.0,8.0,2021-07-06,99575.61,705600.0,Green Industries 47,31130.0,"Taft Ave, Barangay 707, Mandaluyong, Philippines",707,mandaluyong,TrendWise Forecaster,100800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,NaN,10.0,NaN,2022-06-05,NaN,627200.0,NaN,NaN,NaN,NaN,NaN,SegmentX Targeting,89600.0
9996,9997,39.0,2.0,9.0,2021-05-17,159518.60,1512000.0,Prime Consulting 39,107255.0,"Ortigas Ave, Barangay 606, Davao City, Philipp...",606,davao city,MarketMinder Analytics,168000.0
9997,9998,90.0,1.0,15.0,2022-07-19,128137.09,1960000.0,Prime Holdings 90,46225.0,"EDSA, Barangay 202, Parañaque, Philippines",202,Aque,FinPredictor Suite,140000.0
9998,9999,33.0,NaN,19.0,2021-04-15,81786.12,1680000.0,Green Consulting 33,52003.0,"Shaw blvd, barangay 707, mandaluyong, philippi...",707,mandaluyong,NaN,NaN
9999,10000,77.0,16.0,14.0,2023-10-29,115708.40,1489600.0,Prime Consulting 77,110398.0,"Alabang-Zapote Rd, Barangay 456, Manila, Phili...",456,manila,SpendTrack Plus,106400.0

In [202]:
merged_data.isnull().sum()

Transaction_ID         0
Company_ID          1000
Product_ID          1000
Quantity             207
Transaction_Date       0
Product_Price_x      199
Total_Cost           177
Company_Name        1000
Company_Profit      1000
Address             1000
Barangay            1000
City                1000
Product_Name        1000
Product_Price_y     1000
dtype: int64

In [ ]:
merged_data.to_csv('')