<a href="https://colab.research.google.com/github/zephyrstorm123/MO-IT134-MachineLearning/blob/02052025-Updated_Preprocessing_Files.Merged/Milestone_1_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#MACHINE LEARNING AND PREDICTIVE ANALYTICS

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

###Setting Imports

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

##Exploratory Procedures of Data

In [32]:
transactions_df = pd.read_csv('/content/drive/MyDrive/MO-IT134-Machine Learning-S3101-Quitay, Dejucos, Mallorca/transactions_data.csv')
products_df = pd.read_csv('/content/drive/MyDrive/MO-IT134-Machine Learning-S3101-Quitay, Dejucos, Mallorca/products_data.csv')
customer_df = pd.read_csv('/content/drive/MyDrive/MO-IT134-Machine Learning-S3101-Quitay, Dejucos, Mallorca/customers_data.csv')

##Transactions Dataset

In [4]:
transactions_df

,Unnamed: 0,Transaction_ID,Company_ID,Product_ID,Quantity,Transaction_Date,Product_Price,Total_Cost
0,0.0,1.0,88.0,6.0,NaN,2024/03/26,194379.147964,1075200.0
1,1.0,2.0,29.0,19.0,16.0,"July 09, 2024",97930.993380,1428000.0
2,2.0,NaN,28.0,18.0,6.0,04/13/2024,126095.547778,940800.0
3,3.0,4.0,85.0,12.0,12.0,09-06-2023,NaN,1008000.0
4,4.0,5.0,47.0,3.0,8.0,07/06/2021,99575.609634,705600.0
...,...,...,...,...,...,...,...,...
9995,9995.0,NaN,NaN,10.0,NaN,"June 05, 2022",NaN,627200.0
9996,9996.0,9997.0,39.0,2.0,9.0,2021/05/17,159518.597391,1512000.0
9997,9997.0,NaN,90.0,1.0,15.0,"July 19, 2022",128137.094759,1960000.0
9998,9998.0,9999.0,33.0,NaN,19.0,2021/04/15,81786.119894,1680000.0
9999,9999.0,NaN,77.0,16.0,14.0,29-10-2023,115708.404715,1489600.0

In [8]:
transactions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        9000 non-null   float64
 1   Transaction_ID    10000 non-null  int64
 2   Company_ID        9000 non-null   float64
 3   Product_ID        9000 non-null   float64
 4   Quantity          9000 non-null   float64
 5   Transaction_Date  10000 non-null  object
 6   Product_Price     9000 non-null   float64
 7   Total_Cost        9000 non-null   float64
dtypes: float64(6), int64(1), object(1)
memory usage: 625.1+ KB

###Checking/Filling Up Missing Data

In [33]:
#Filling Up Missing Transaction ID
#Transaction ID seems to be just the index of the data +1. So we fill up the missing data using that information

transactions_df['Transaction_ID'] = transactions_df.index + 1

In [7]:
transactions_df

,Unnamed: 0,Transaction_ID,Company_ID,Product_ID,Quantity,Transaction_Date,Product_Price,Total_Cost
0,0.0,1,88.0,6.0,NaN,2024/03/26,194379.147964,1075200.0
1,1.0,2,29.0,19.0,16.0,"July 09, 2024",97930.993380,1428000.0
2,2.0,3,28.0,18.0,6.0,04/13/2024,126095.547778,940800.0
3,3.0,4,85.0,12.0,12.0,09-06-2023,NaN,1008000.0
4,4.0,5,47.0,3.0,8.0,07/06/2021,99575.609634,705600.0
...,...,...,...,...,...,...,...,...
9995,9995.0,9996,NaN,10.0,NaN,"June 05, 2022",NaN,627200.0
9996,9996.0,9997,39.0,2.0,9.0,2021/05/17,159518.597391,1512000.0
9997,9997.0,9998,90.0,1.0,15.0,"July 19, 2022",128137.094759,1960000.0
9998,9998.0,9999,33.0,NaN,19.0,2021/04/15,81786.119894,1680000.0
9999,9999.0,10000,77.0,16.0,14.0,29-10-2023,115708.404715,1489600.0

In [82]:
#Filling Up Missing Values of Quantity, Product_Price and Total_Cost

def fill_missing_values(row):
    # Check if Total_Cost is missing but not Quantity and Product_Price
    if pd.isnull(row['Total_Cost']) and not pd.isnull(row['Quantity']) and not pd.isnull(row['Product_Price']):
        row['Total_Cost'] = row['Quantity'] * row['Product_Price']
    # Check if Quantity is missing but not Product_Price and Total_Cost
    elif pd.isnull(row['Quantity']) and not pd.isnull(row['Product_Price']) and not pd.isnull(row['Total_Cost']):
        if row['Product_Price'] != 0:
            row['Quantity'] = round(row['Total_Cost'] / row['Product_Price'])
        else:
            row['Quantity'] = np.nan
    else:
    #Recompute Total Cost if all elements present
      row['Total_Cost'] = row['Quantity'] * row['Product_Price']
    return row

In [ ]:
transactions_df = transactions_df.apply(fill_missing_values, axis=1)

In [34]:
transactions_df

,Unnamed: 0,Transaction_ID,Company_ID,Product_ID,Quantity,Transaction_Date,Product_Price,Total_Cost
0,0.0,1,88.0,6.0,NaN,2024/03/26,194379.147964,1075200.0
1,1.0,2,29.0,19.0,16.0,"July 09, 2024",97930.993380,1428000.0
2,2.0,3,28.0,18.0,6.0,04/13/2024,126095.547778,940800.0
3,3.0,4,85.0,12.0,12.0,09-06-2023,NaN,1008000.0
4,4.0,5,47.0,3.0,8.0,07/06/2021,99575.609634,705600.0
...,...,...,...,...,...,...,...,...
9995,9995.0,9996,NaN,10.0,NaN,"June 05, 2022",NaN,627200.0
9996,9996.0,9997,39.0,2.0,9.0,2021/05/17,159518.597391,1512000.0
9997,9997.0,9998,90.0,1.0,15.0,"July 19, 2022",128137.094759,1960000.0
9998,9998.0,9999,33.0,NaN,19.0,2021/04/15,81786.119894,1680000.0
9999,9999.0,10000,77.0,16.0,14.0,29-10-2023,115708.404715,1489600.0

###Formatting of Dates

In [35]:
#Standarize Format of Date
# Check if date format is in the list. then convert it to a readable datetime format, return NaT if not in the list. output so that only the months will be kept

def convert_date(date):
  formats = [
      '%d%m%Y',      # Format: DDMMYYYY
      '%Y-%m-%d',    # Format: YYYY-MM-DD
      '%m/%d/%Y',    # Format: MM/DD/YYYY
      '%d-%m-%Y',     # Format: DD-MM-YYYY
      '%d/%m/%Y',      # Format: DD/MM/YYYY
      '%Y/%m/%d',     #Format: YYYY/MM/DD
      'Month %d, Year %Y',  # Format: Month DD, YYYY
      '%B %d, %Y',    #Format, Month DD, YYYY
  ]

  for fmt in formats:
    try:
      return pd.to_datetime(date, format=fmt).month
    except ValueError:
      continue

  return pd.NaT  # Return NaT if no valid format is found

In [36]:
transactions_df['Transaction_Date_Month'] = transactions_df['Transaction_Date'].apply(convert_date)

In [37]:
transactions_df

,Unnamed: 0,Transaction_ID,Company_ID,Product_ID,Quantity,Transaction_Date,Product_Price,Total_Cost,Transaction_Date_Month
0,0.0,1,88.0,6.0,NaN,2024/03/26,194379.147964,1075200.0,3
1,1.0,2,29.0,19.0,16.0,"July 09, 2024",97930.993380,1428000.0,7
2,2.0,3,28.0,18.0,6.0,04/13/2024,126095.547778,940800.0,4
3,3.0,4,85.0,12.0,12.0,09-06-2023,NaN,1008000.0,6
4,4.0,5,47.0,3.0,8.0,07/06/2021,99575.609634,705600.0,7
...,...,...,...,...,...,...,...,...,...
9995,9995.0,9996,NaN,10.0,NaN,"June 05, 2022",NaN,627200.0,6
9996,9996.0,9997,39.0,2.0,9.0,2021/05/17,159518.597391,1512000.0,5
9997,9997.0,9998,90.0,1.0,15.0,"July 19, 2022",128137.094759,1960000.0,7
9998,9998.0,9999,33.0,NaN,19.0,2021/04/15,81786.119894,1680000.0,4
9999,9999.0,10000,77.0,16.0,14.0,29-10-2023,115708.404715,1489600.0,10

In [38]:
transactions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              9000 non-null   float64
 1   Transaction_ID          10000 non-null  int64
 2   Company_ID              9000 non-null   float64
 3   Product_ID              9000 non-null   float64
 4   Quantity                9000 non-null   float64
 5   Transaction_Date        10000 non-null  object
 6   Product_Price           9000 non-null   float64
 7   Total_Cost              9000 non-null   float64
 8   Transaction_Date_Month  10000 non-null  int64
dtypes: float64(6), int64(2), object(1)
memory usage: 703.3+ KB

In [39]:
#Drop the Redundant Column

transactions_df.drop(columns=['Unnamed: 0', 'Transaction_Date'], inplace=True)

In [40]:

transactions_df

,Transaction_ID,Company_ID,Product_ID,Quantity,Product_Price,Total_Cost,Transaction_Date_Month
0,1,88.0,6.0,NaN,194379.147964,1075200.0,3
1,2,29.0,19.0,16.0,97930.993380,1428000.0,7
2,3,28.0,18.0,6.0,126095.547778,940800.0,4
3,4,85.0,12.0,12.0,NaN,1008000.0,6
4,5,47.0,3.0,8.0,99575.609634,705600.0,7
...,...,...,...,...,...,...,...
9995,9996,NaN,10.0,NaN,NaN,627200.0,6
9996,9997,39.0,2.0,9.0,159518.597391,1512000.0,5
9997,9998,90.0,1.0,15.0,128137.094759,1960000.0,7
9998,9999,33.0,NaN,19.0,81786.119894,1680000.0,4
9999,10000,77.0,16.0,14.0,115708.404715,1489600.0,10

In [41]:
#Rounding Off the Product Price to 2

transactions_df['Product_Price'] = round(transactions_df['Product_Price'], 2)

In [ ]:
# Display rows with data with 2 or more data missing in the Product_Price, Quantity and Total_cost column

missing_counts = transactions_df[['Product_Price', 'Quantity', 'Total_Cost']].isnull().sum(axis=1)
transactions_df[missing_counts >= 2]

,Transaction_ID,Company_ID,Product_ID,Quantity,Transaction_Date,Product_Price,Total_Cost
25,26,93.0,9.0,NaN,2021-09-21,NaN,1792000.0
58,59,54.0,1.0,NaN,2021-07-19,140359.08,NaN
78,79,66.0,4.0,NaN,2023-09-14,112998.06,NaN
125,126,29.0,NaN,NaN,2023-09-22,NaN,1433600.0
270,271,NaN,1.0,NaN,2024-08-31,NaN,1540000.0
...,...,...,...,...,...,...,...
9906,9907,47.0,NaN,6.0,2024-02-28,NaN,NaN
9981,9982,NaN,5.0,NaN,2022-03-29,NaN,672000.0
9982,9983,80.0,15.0,8.0,2023-12-25,NaN,NaN
9990,9991,14.0,19.0,NaN,2021-02-19,NaN,190400.0
9995,9996,NaN,10.0,NaN,2022-06-05,NaN,627200.0

In [ ]:
for col in ['Company_ID', 'Product_ID', 'Quantity']:
  if transactions_df[col].dtype == 'float64':
    transactions_df[col] = transactions_df[col].astype(int)

In [ ]:
transactions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction_ID    10000 non-null  int64
 1   Company_ID        9000 non-null   float64
 2   Product_ID        9000 non-null   float64
 3   Quantity          9793 non-null   float64
 4   Transaction_Date  10000 non-null  datetime64[ns]
 5   Product_Price     9801 non-null   float64
 6   Total_Cost        9823 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 547.0 KB

In [42]:
transactions_df.to_csv('/content/drive/MyDrive/MO-IT134-Machine Learning-S3101-Quitay, Dejucos, Mallorca/transactions_data_cleaned.csv')

##Customers Data

In [9]:
customer_df

,Company_ID,Company_Name,Company_Profit,Address
0,1.0,Tech Enterprises 1,80701.0,"EDSA, Barangay 606, Pasig, Philippines"
1,2.0,Global Partners 2,80511.0,"Commonwealth Ave, Barangay 789, Taguig, Philip..."
2,3.0,Quantum Associates 3,110664.0,"Roxas Blvd, Barangay 505, Pasig, Philippines"
3,4.0,Prime Network 4,NaN,"Alabang-Zapote Rd, Barangay 202, Taguig, Phili..."
4,5.0,Elite Ventures 5,69427.0,"Ayala Avenue, Barangay 101, Makati, Philippines"
...,...,...,...,...
95,96.0,Dynamic Network 96,101428.0,"Alabang-Zapote Rd, Brgy. 456, Cebu City, Phili..."
96,97.0,Quantum Holdings 97,33449.0,"EDSA, Barangay 789, Manila, Philippines"
97,98.0,Pioneer Ventures 98,71095.0,"Roxas Blvd, Barangay 123, Taguig, Philippines"
98,NaN,Elite Corp 99,107929.0,"Alabang-Zapote Rd, Barangay 303, Makati, Phili..."
99,100.0,Global Solutions 100,NaN,"Ayala avenue, barangay 456, taguig, philippines"

In [10]:
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company_ID      90 non-null     float64
 1   Company_Name    100 non-null    object
 2   Company_Profit  88 non-null     float64
 3   Address         100 non-null    object
dtypes: float64(2), object(2)
memory usage: 3.3+ KB

###FIlling Missing Data

In [11]:
customer_df['Company_ID'] = customer_df.index + 1

In [12]:
#Converting "Company Profit" to numeric
customer_df["Company_Profit"] = pd.to_numeric(customer_df["Company_Profit"], errors="coerce")
#Filling Up Missing Data for Company Profit
customer_df["Company_Profit"].fillna(customer_df["Company_Profit"].mean(), inplace=True)
customer_df["Company_Profit"] = customer_df["Company_Profit"].round(2)

<ipython-input-12-3ad7eddb3991>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  customer_df["Company_Profit"].fillna(customer_df["Company_Profit"].mean(), inplace=True)

###Parsing of Address

In [13]:
customer_df_parsed = customer_df.copy()

In [ ]:
#Isolating the Baranggay and City from the Address

import re

def parse_address(row):
      #Captures the number in barangay only
      barangay_pattern = r"(?:Barangay|Brgy\.)\s+(\d+)"
      #Captures the City
      city_pattern = r'[A-Za-z\s]+(?=, Philippines)'

      barangay_match = re.search(barangay_pattern, row['Address'], re.IGNORECASE)
      city_match = re.search(city_pattern, row['Address'], re.IGNORECASE)

      row['Barangay'] = barangay_match.group(1) if barangay_match else None
      row['City'] = city_match.group(0).capitalize() if city_match else None

      return row

In [ ]:
customer_df_parsed = customer_df_parsed.apply(parse_address, axis=1)

In [ ]:
customer_df_parsed

,Company_ID,Company_Name,Company_Profit,Address,Barangay,City
0,1,Tech Enterprises 1,80701.0,"EDSA, Barangay 606, Pasig, Philippines",606,pasig
1,2,Global Partners 2,80511.0,"Commonwealth Ave, Barangay 789, Taguig, Philip...",789,taguig
2,3,Quantum Associates 3,110664.0,"Roxas Blvd, Barangay 505, Pasig, Philippines",505,pasig
3,4,Prime Network 4,76400.5,"Alabang-Zapote Rd, Barangay 202, Taguig, Phili...",202,taguig
4,5,Elite Ventures 5,69427.0,"Ayala Avenue, Barangay 101, Makati, Philippines",101,makati
...,...,...,...,...,...,...
95,96,Dynamic Network 96,101428.0,"Alabang-Zapote Rd, Brgy. 456, Cebu City, Phili...",456,cebu city
96,97,Quantum Holdings 97,33449.0,"EDSA, Barangay 789, Manila, Philippines",789,manila
97,98,Pioneer Ventures 98,71095.0,"Roxas Blvd, Barangay 123, Taguig, Philippines",123,taguig
98,99,Elite Corp 99,107929.0,"Alabang-Zapote Rd, Barangay 303, Makati, Phili...",303,makati
99,100,Global Solutions 100,76400.5,"Ayala avenue, barangay 456, taguig, philippines",456,taguig

In [ ]:
customer_df_parsed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company_ID      100 non-null    int64
 1   Company_Name    100 non-null    object
 2   Company_Profit  100 non-null    float64
 3   Address         100 non-null    object
 4   Barangay        100 non-null    object
 5   City            100 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.8+ KB

In [ ]:
customer_df_parsed.to_csv('/content/drive/MyDrive/MO-IT134-Machine Learning-S3101-Quitay, Dejucos, Mallorca/customers_data_cleaned.csv')

##Products Data

In [49]:
products_df

    Product_ID                  Product_Name Product_Price
0          1.0            FinPredictor Suite      ?140,000
1          2.0        MarketMinder Analytics      ?168,000
2          3.0          TrendWise Forecaster      ?100,800
3          4.0        CustomerScope Insights      ?123,200
4          5.0           SalesSync Optimizer       ?84,000
5          6.0          RevenueVue Dashboard      ?179,200
6          7.0   DataBridge Integration Tool      ?151,200
7          NaN             RiskRadar Monitor      ?151,200
8          9.0                     Product 9      ?112,000
9         10.0            SegmentX Targeting       ?89,600
10        11.0           OptiFlow Automation      ?156,800
11        12.0              BudgetMaster Pro       ?84,000
12        13.0           ForecastXcelerator       ?196,000
13        14.0  InsightMax Insights Platform      ?128,800
14        15.0            NexGen Segmentator      ?100,800
15         NaN               SpendTrack Plus      ?106,400
16        17.0              RealTime Revenue      ?168,000
17        18.0        DashSync Analytics Hub      ?134,400
18        19.0              EcoNomix Modeler       ?95,200
19        20.0  FinSphere Intelligence Suite      ?224,000

In [50]:
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product_ID     18 non-null     float64
 1   Product_Name   20 non-null     object
 2   Product_Price  20 non-null     object
dtypes: float64(1), object(2)
memory usage: 612.0+ bytes

###Fill Missing Data

In [51]:
products_df["Product_ID"] = products_df.index + 1

###Parse Price to become Numerical

In [52]:
parsed_price = products_df.copy()

In [53]:
import re

def parse_price(row):
    # Regex to match price pattern, allowing for '?' and commas
    price_pattern = r"\?\s*([\d,]+)"

    # Match the price using the pattern
    price_match = re.search(price_pattern, row['Product_Price'])

    if price_match:
        # Extract the price string, clean commas, and convert to an integer
        price = price_match.group(1).replace(',', '')  # Remove commas
        row['Product_Price'] = int(price)  # Convert to a numeric value
    else:
        # If no valid price is found, set to None
        row['Product_Price'] = None

    return row

In [54]:
parsed_price = products_df.apply(parse_price, axis=1)

In [55]:
parsed_price

    Product_ID                  Product_Name  Product_Price
0            1            FinPredictor Suite         140000
1            2        MarketMinder Analytics         168000
2            3          TrendWise Forecaster         100800
3            4        CustomerScope Insights         123200
4            5           SalesSync Optimizer          84000
5            6          RevenueVue Dashboard         179200
6            7   DataBridge Integration Tool         151200
7            8             RiskRadar Monitor         151200
8            9                     Product 9         112000
9           10            SegmentX Targeting          89600
10          11           OptiFlow Automation         156800
11          12              BudgetMaster Pro          84000
12          13           ForecastXcelerator          196000
13          14  InsightMax Insights Platform         128800
14          15            NexGen Segmentator         100800
15          16               SpendTrack Plus         106400
16          17              RealTime Revenue         168000
17          18        DashSync Analytics Hub         134400
18          19              EcoNomix Modeler          95200
19          20  FinSphere Intelligence Suite         224000

In [ ]:
parsed_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product_ID     20 non-null     int64
 1   Product_Name   20 non-null     object
 2   Product_Price  20 non-null     int64
dtypes: int64(2), object(1)
memory usage: 612.0+ bytes

In [56]:
parsed_price.to_csv('/content/drive/MyDrive/MO-IT134-Machine Learning-S3101-Quitay, Dejucos, Mallorca/products_data_cleaned.csv')

##Merging of Datasets

In [ ]:
#Merge the transactions_df with customer_df
merged_data = pd.merge(transactions_df, customer_df_parsed, on='Company_ID',how='left')

In [ ]:
merged_data

,Transaction_ID,Company_ID,Product_ID,Quantity,Transaction_Date,Product_Price,Total_Cost,Company_Name,Company_Profit,Address,Barangay,City
0,1,88.0,6.0,6.0,2024-03-26,194379.15,1075200.0,Elite Consulting 88,75950.0,"EDSA, Barangay 456, Taguig, Philippines",456,taguig
1,2,29.0,19.0,16.0,2024-07-09,97930.99,1428000.0,Sky Industries 29,61952.0,"Edsa, brgy. 606, makati, philippines!",606,makati
2,3,28.0,18.0,6.0,2024-04-13,126095.55,940800.0,Global Holdings 28,61115.0,"Katipunan Ave, Brgy. 303, Taguig, Philippines",303,taguig
3,4,85.0,12.0,12.0,2023-06-09,84000.00,1008000.0,Green Ventures 85,113470.0,"EDSA, Barangay 707, Cebu City, Philippines",707,cebu city
4,5,47.0,3.0,8.0,2021-07-06,99575.61,705600.0,Green Industries 47,31130.0,"Taft Ave, Barangay 707, Mandaluyong, Philippines",707,mandaluyong
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,NaN,10.0,NaN,2022-06-05,NaN,627200.0,NaN,NaN,NaN,NaN,NaN
9996,9997,39.0,2.0,9.0,2021-05-17,159518.60,1512000.0,Prime Consulting 39,107255.0,"Ortigas Ave, Barangay 606, Davao City, Philipp...",606,davao city
9997,9998,90.0,1.0,15.0,2022-07-19,128137.09,1960000.0,Prime Holdings 90,46225.0,"EDSA, Barangay 202, Parañaque, Philippines",202,Aque
9998,9999,33.0,NaN,19.0,2021-04-15,81786.12,1680000.0,Green Consulting 33,52003.0,"Shaw blvd, barangay 707, mandaluyong, philippi...",707,mandaluyong
9999,10000,77.0,16.0,14.0,2023-10-29,115708.40,1489600.0,Prime Consulting 77,110398.0,"Alabang-Zapote Rd, Barangay 456, Manila, Phili...",456,manila

In [ ]:
#Merge data to product_df

merged_data = pd.merge(merged_data, parsed_price, on='Product_ID', how='left')

In [ ]:
merged_data

,Transaction_ID,Company_ID,Product_ID,Quantity,Transaction_Date,Product_Price_x,Total_Cost,Company_Name,Company_Profit,Address,Barangay,City,Product_Name,Product_Price_y
0,1,88.0,6.0,6.0,2024-03-26,194379.15,1075200.0,Elite Consulting 88,75950.0,"EDSA, Barangay 456, Taguig, Philippines",456,taguig,RevenueVue Dashboard,179200.0
1,2,29.0,19.0,16.0,2024-07-09,97930.99,1428000.0,Sky Industries 29,61952.0,"Edsa, brgy. 606, makati, philippines!",606,makati,EcoNomix Modeler,95200.0
2,3,28.0,18.0,6.0,2024-04-13,126095.55,940800.0,Global Holdings 28,61115.0,"Katipunan Ave, Brgy. 303, Taguig, Philippines",303,taguig,DashSync Analytics Hub,134400.0
3,4,85.0,12.0,12.0,2023-06-09,84000.00,1008000.0,Green Ventures 85,113470.0,"EDSA, Barangay 707, Cebu City, Philippines",707,cebu city,BudgetMaster Pro,84000.0
4,5,47.0,3.0,8.0,2021-07-06,99575.61,705600.0,Green Industries 47,31130.0,"Taft Ave, Barangay 707, Mandaluyong, Philippines",707,mandaluyong,TrendWise Forecaster,100800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,NaN,10.0,NaN,2022-06-05,NaN,627200.0,NaN,NaN,NaN,NaN,NaN,SegmentX Targeting,89600.0
9996,9997,39.0,2.0,9.0,2021-05-17,159518.60,1512000.0,Prime Consulting 39,107255.0,"Ortigas Ave, Barangay 606, Davao City, Philipp...",606,davao city,MarketMinder Analytics,168000.0
9997,9998,90.0,1.0,15.0,2022-07-19,128137.09,1960000.0,Prime Holdings 90,46225.0,"EDSA, Barangay 202, Parañaque, Philippines",202,Aque,FinPredictor Suite,140000.0
9998,9999,33.0,NaN,19.0,2021-04-15,81786.12,1680000.0,Green Consulting 33,52003.0,"Shaw blvd, barangay 707, mandaluyong, philippi...",707,mandaluyong,NaN,NaN
9999,10000,77.0,16.0,14.0,2023-10-29,115708.40,1489600.0,Prime Consulting 77,110398.0,"Alabang-Zapote Rd, Barangay 456, Manila, Phili...",456,manila,SpendTrack Plus,106400.0

In [ ]:
merged_data.isnull().sum()

Transaction_ID         0
Company_ID          1000
Product_ID          1000
Quantity             207
Transaction_Date       0
Product_Price_x      199
Total_Cost           177
Company_Name        1000
Company_Profit      1000
Address             1000
Barangay            1000
City                1000
Product_Name        1000
Product_Price_y     1000
dtype: int64

In [ ]:
merged_data.to_csv('')

#Data Merging V2

In [89]:
transaction_cleaned_df = pd.read_csv('/content/drive/MyDrive/MO-IT134-Machine Learning-S3101-Quitay, Dejucos, Mallorca/transactions_data_cleaned.csv')
customer_cleaned_df = pd.read_csv('/content/drive/MyDrive/MO-IT134-Machine Learning-S3101-Quitay, Dejucos, Mallorca/customers_data_cleaned.csv')
products_cleaned_df = pd.read_csv('/content/drive/MyDrive/MO-IT134-Machine Learning-S3101-Quitay, Dejucos, Mallorca/products_data_cleaned.csv')

In [90]:
transaction_cleaned_df

,Unnamed: 0,Transaction_ID,Company_ID,Product_ID,Quantity,Product_Price,Total_Cost,Transaction_Date_Month
0,0,1,88.0,6.0,NaN,194379.15,1075200.0,3
1,1,2,29.0,19.0,16.0,97930.99,1428000.0,7
2,2,3,28.0,18.0,6.0,126095.55,940800.0,4
3,3,4,85.0,12.0,12.0,NaN,1008000.0,6
4,4,5,47.0,3.0,8.0,99575.61,705600.0,7
...,...,...,...,...,...,...,...,...
9995,9995,9996,NaN,10.0,NaN,NaN,627200.0,6
9996,9996,9997,39.0,2.0,9.0,159518.60,1512000.0,5
9997,9997,9998,90.0,1.0,15.0,128137.09,1960000.0,7
9998,9998,9999,33.0,NaN,19.0,81786.12,1680000.0,4
9999,9999,10000,77.0,16.0,14.0,115708.40,1489600.0,10

In [91]:
products_cleaned_df

    Unnamed: 0  Product_ID                  Product_Name  Product_Price
0            0           1            FinPredictor Suite         140000
1            1           2        MarketMinder Analytics         168000
2            2           3          TrendWise Forecaster         100800
3            3           4        CustomerScope Insights         123200
4            4           5           SalesSync Optimizer          84000
5            5           6          RevenueVue Dashboard         179200
6            6           7   DataBridge Integration Tool         151200
7            7           8             RiskRadar Monitor         151200
8            8           9                     Product 9         112000
9            9          10            SegmentX Targeting          89600
10          10          11           OptiFlow Automation         156800
11          11          12              BudgetMaster Pro          84000
12          12          13           ForecastXcelerator          196000
13          13          14  InsightMax Insights Platform         128800
14          14          15            NexGen Segmentator         100800
15          15          16               SpendTrack Plus         106400
16          16          17              RealTime Revenue         168000
17          17          18        DashSync Analytics Hub         134400
18          18          19              EcoNomix Modeler          95200
19          19          20  FinSphere Intelligence Suite         224000

In [92]:
products_cleaned_df = products_cleaned_df.drop(columns=['Unnamed: 0'])

In [93]:
products_cleaned_df

    Product_ID                  Product_Name  Product_Price
0            1            FinPredictor Suite         140000
1            2        MarketMinder Analytics         168000
2            3          TrendWise Forecaster         100800
3            4        CustomerScope Insights         123200
4            5           SalesSync Optimizer          84000
5            6          RevenueVue Dashboard         179200
6            7   DataBridge Integration Tool         151200
7            8             RiskRadar Monitor         151200
8            9                     Product 9         112000
9           10            SegmentX Targeting          89600
10          11           OptiFlow Automation         156800
11          12              BudgetMaster Pro          84000
12          13           ForecastXcelerator          196000
13          14  InsightMax Insights Platform         128800
14          15            NexGen Segmentator         100800
15          16               SpendTrack Plus         106400
16          17              RealTime Revenue         168000
17          18        DashSync Analytics Hub         134400
18          19              EcoNomix Modeler          95200
19          20  FinSphere Intelligence Suite         224000

In [94]:
transaction_merged_df = pd.merge(transaction_cleaned_df, products_cleaned_df, on='Product_ID', how='left')

In [95]:
transaction_merged_df

,Unnamed: 0,Transaction_ID,Company_ID,Product_ID,Quantity,Product_Price_x,Total_Cost,Transaction_Date_Month,Product_Name,Product_Price_y
0,0,1,88.0,6.0,NaN,194379.15,1075200.0,3,RevenueVue Dashboard,179200.0
1,1,2,29.0,19.0,16.0,97930.99,1428000.0,7,EcoNomix Modeler,95200.0
2,2,3,28.0,18.0,6.0,126095.55,940800.0,4,DashSync Analytics Hub,134400.0
3,3,4,85.0,12.0,12.0,NaN,1008000.0,6,BudgetMaster Pro,84000.0
4,4,5,47.0,3.0,8.0,99575.61,705600.0,7,TrendWise Forecaster,100800.0
...,...,...,...,...,...,...,...,...,...,...
9995,9995,9996,NaN,10.0,NaN,NaN,627200.0,6,SegmentX Targeting,89600.0
9996,9996,9997,39.0,2.0,9.0,159518.60,1512000.0,5,MarketMinder Analytics,168000.0
9997,9997,9998,90.0,1.0,15.0,128137.09,1960000.0,7,FinPredictor Suite,140000.0
9998,9998,9999,33.0,NaN,19.0,81786.12,1680000.0,4,NaN,NaN
9999,9999,10000,77.0,16.0,14.0,115708.40,1489600.0,10,SpendTrack Plus,106400.0

In [96]:
#Remove the old prices from transaction_df
transaction_merged_df = transaction_merged_df.drop(columns=['Unnamed: 0', 'Product_Price_x', 'Product_Name'])

In [97]:
transaction_merged_df['Product_Price_y'] = transaction_merged_df['Product_Price_y'].rename('Product_Price')

In [98]:
transaction_merged_df.rename(columns={'Product_Price_y': 'Product_Price'}, inplace=True)

In [99]:
transaction_merged_df

,Transaction_ID,Company_ID,Product_ID,Quantity,Total_Cost,Transaction_Date_Month,Product_Price
0,1,88.0,6.0,NaN,1075200.0,3,179200.0
1,2,29.0,19.0,16.0,1428000.0,7,95200.0
2,3,28.0,18.0,6.0,940800.0,4,134400.0
3,4,85.0,12.0,12.0,1008000.0,6,84000.0
4,5,47.0,3.0,8.0,705600.0,7,100800.0
...,...,...,...,...,...,...,...
9995,9996,NaN,10.0,NaN,627200.0,6,89600.0
9996,9997,39.0,2.0,9.0,1512000.0,5,168000.0
9997,9998,90.0,1.0,15.0,1960000.0,7,140000.0
9998,9999,33.0,NaN,19.0,1680000.0,4,NaN
9999,10000,77.0,16.0,14.0,1489600.0,10,106400.0

In [100]:
#Move the Product_Price column and put it in the 4 column

transaction_merged_df.insert(4, 'Product_Price', transaction_merged_df.pop('Product_Price'))

In [101]:
transaction_merged_df

,Transaction_ID,Company_ID,Product_ID,Quantity,Product_Price,Total_Cost,Transaction_Date_Month
0,1,88.0,6.0,NaN,179200.0,1075200.0,3
1,2,29.0,19.0,16.0,95200.0,1428000.0,7
2,3,28.0,18.0,6.0,134400.0,940800.0,4
3,4,85.0,12.0,12.0,84000.0,1008000.0,6
4,5,47.0,3.0,8.0,100800.0,705600.0,7
...,...,...,...,...,...,...,...
9995,9996,NaN,10.0,NaN,89600.0,627200.0,6
9996,9997,39.0,2.0,9.0,168000.0,1512000.0,5
9997,9998,90.0,1.0,15.0,140000.0,1960000.0,7
9998,9999,33.0,NaN,19.0,NaN,1680000.0,4
9999,10000,77.0,16.0,14.0,106400.0,1489600.0,10

In [104]:
transaction_merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8093 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Transaction_ID          8093 non-null   int64
 1   Company_ID              8093 non-null   float64
 2   Product_ID              8093 non-null   float64
 3   Quantity                7279 non-null   float64
 4   Product_Price           8093 non-null   float64
 5   Total_Cost              7285 non-null   float64
 6   Transaction_Date_Month  8093 non-null   int64
dtypes: float64(5), int64(2)
memory usage: 505.8 KB

In [76]:
transaction_merged_df['Product_ID'].isnull().sum()

1000

In [107]:
missing_values = transaction_merged_df['Total_Cost'].isnull() & transaction_merged_df['Quantity'].isnull()
print(transaction_merged_df[missing_values])

      Transaction_ID  Company_ID  Product_ID  Quantity  Product_Price  \
58                59        54.0         1.0       NaN       140000.0
78                79        66.0         4.0       NaN       123200.0
357              358        80.0        18.0       NaN       134400.0
496              497        64.0         9.0       NaN       112000.0
593              594        39.0        20.0       NaN       224000.0
...              ...         ...         ...       ...            ...
8913            8914        25.0        13.0       NaN       196000.0
9043            9044        98.0        18.0       NaN       134400.0
9115            9116        22.0        19.0       NaN        95200.0
9326            9327        68.0        12.0       NaN        84000.0
9599            9600        22.0        18.0       NaN       134400.0

      Total_Cost  Transaction_Date_Month
58           NaN                       7
78           NaN                       9
357          NaN                       6
496          NaN                      10
593          NaN                       3
...          ...                     ...
8913         NaN                       4
9043         NaN                       2
9115         NaN                       8
9326         NaN                       6
9599         NaN                      11

[85 rows x 7 columns]

In [108]:
#Drop columns with missing values for both Total_Cost and Quantity

transaction_merged_df.dropna(subset=['Total_Cost', 'Quantity'], how='all', inplace=True)

In [109]:
#Drop the rows doesnt have data for Company_ID and Product_ID
transaction_merged_df.dropna(subset=['Company_ID', 'Product_ID'], how='any', inplace=True)

In [110]:
transaction_merged_df

,Transaction_ID,Company_ID,Product_ID,Quantity,Product_Price,Total_Cost,Transaction_Date_Month
0,1,88.0,6.0,NaN,179200.0,1075200.0,3
1,2,29.0,19.0,16.0,95200.0,1428000.0,7
2,3,28.0,18.0,6.0,134400.0,940800.0,4
3,4,85.0,12.0,12.0,84000.0,1008000.0,6
4,5,47.0,3.0,8.0,100800.0,705600.0,7
...,...,...,...,...,...,...,...
9993,9994,6.0,3.0,14.0,100800.0,1411200.0,3
9994,9995,71.0,19.0,3.0,95200.0,285600.0,10
9996,9997,39.0,2.0,9.0,168000.0,1512000.0,5
9997,9998,90.0,1.0,15.0,140000.0,1960000.0,7
9999,10000,77.0,16.0,14.0,106400.0,1489600.0,10

In [112]:
transaction_merged_df = transaction_merged_df.apply(fill_missing_values, axis=1)

In [113]:
transaction_merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8008 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Transaction_ID          8008 non-null   float64
 1   Company_ID              8008 non-null   float64
 2   Product_ID              8008 non-null   float64
 3   Quantity                8008 non-null   float64
 4   Product_Price           8008 non-null   float64
 5   Total_Cost              8008 non-null   float64
 6   Transaction_Date_Month  8008 non-null   float64
dtypes: float64(7)
memory usage: 500.5 KB

In [88]:
# Display rows with missing data in the 'Total_Cost' column
missing_total_cost_rows = transaction_merged_df[transaction_merged_df['Total_Cost'].isnull()]
print(missing_total_cost_rows)

      Transaction_ID  Company_ID  Product_ID  Quantity  Product_Price  \
58              59.0        54.0         1.0       NaN       140000.0
78              79.0        66.0         4.0       NaN       123200.0
357            358.0        80.0        18.0       NaN       134400.0
496            497.0        64.0         9.0       NaN       112000.0
593            594.0        39.0        20.0       NaN       224000.0
...              ...         ...         ...       ...            ...
8913          8914.0        25.0        13.0       NaN       196000.0
9043          9044.0        98.0        18.0       NaN       134400.0
9115          9116.0        22.0        19.0       NaN        95200.0
9326          9327.0        68.0        12.0       NaN        84000.0
9599          9600.0        22.0        18.0       NaN       134400.0

      Total_Cost  Transaction_Date_Month
58           NaN                     7.0
78           NaN                     9.0
357          NaN                     6.0
496          NaN                    10.0
593          NaN                     3.0
...          ...                     ...
8913         NaN                     4.0
9043         NaN                     2.0
9115         NaN                     8.0
9326         NaN                     6.0
9599         NaN                    11.0

[85 rows x 7 columns]

In [115]:
transaction_merged_df

,Transaction_ID,Company_ID,Product_ID,Quantity,Product_Price,Total_Cost,Transaction_Date_Month
0,1.0,88.0,6.0,6.0,179200.0,1075200.0,3.0
1,2.0,29.0,19.0,16.0,95200.0,1523200.0,7.0
2,3.0,28.0,18.0,6.0,134400.0,806400.0,4.0
3,4.0,85.0,12.0,12.0,84000.0,1008000.0,6.0
4,5.0,47.0,3.0,8.0,100800.0,806400.0,7.0
...,...,...,...,...,...,...,...
9993,9994.0,6.0,3.0,14.0,100800.0,1411200.0,3.0
9994,9995.0,71.0,19.0,3.0,95200.0,285600.0,10.0
9996,9997.0,39.0,2.0,9.0,168000.0,1512000.0,5.0
9997,9998.0,90.0,1.0,15.0,140000.0,2100000.0,7.0
9999,10000.0,77.0,16.0,14.0,106400.0,1489600.0,10.0

In [116]:
transaction_merged_df.to_csv('/content/drive/MyDrive/MO-IT134-Machine Learning-S3101-Quitay, Dejucos, Mallorca/transaction_clean_merged_df.csv')